#__next {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#secaocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 30px;
    height: 80%;
}

.cards {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 25px;
}

.cardsdescricao {
    display: flex;
    width: 90%;
    text-align: justify;
    gap: 150px;
}